<div class="container-fluid " id="img-bg">
    <div class="row d-flex align-items-center">

        <div class="col-md-6" ></div>

        <div class="col-md-6">
            <div class="row d-flex justify-content-center">
                <div class="col-md-9 bg mt">
                    <h1 class="text-center mb-3 animate-charcter">Cadastre-se</h1>

                    <form>
                        <div class="form-group">

                        <label for="nome">Nome</label>
                        <input [(ngModel)]="user.name" class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome (min. 3 max. 30)"  maxlength= "30">
                    </div>

                    <div class="form-group">

                        <label for="usuario">Usuário</label>
                        <input [(ngModel)]="user.email" class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu E-mail" (input)="validEmail()">
                        <div id="txtUser"></div>
                    </div>
                    
                    <div> </div>
                    <div class="form-group">

                        <label for="senha">Senha</label>
                        <input (input)="confirmPassword($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha (min. 6 max. 20)" maxlength="20">
                    </div>
                    <div class="form-group">

                        <label for="confirmSenha">Confirmar senha</label>
                        <input [(ngModel)]="user.password" class="form-control" type="password" name="confirmSenha" id="confirmSenha"
                            placeholder="Confirme sua senha"  maxlength="20">

                    </div>
                    <div class="form-group">

                        <label for="foto">Link da foto</label>
                        <input [(ngModel)]="user.photo" class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto" placeholder= "Foto Opcional">
                    </div>
                    <div class="form-group">

                        <label for="tipo">Tipo de usuário  </label>
                        <select class ='form-control' name="tipo" id="tipo">
                            <option>  Selecione um tipo de usuário: </option>
                            <option value="normal">Normal</option>
                            <option value="adm">Administrador</option>
                        </select>
                    
                    </div>
                    <hr> 
                    <div class="d-flex justify-content-center">
                        <a routerLink="/entrar"><button type="submit" class="btn btn-danger mr-4">Cancelar</button></a>
                        <button type="submit" class="btn btn-success" (click)="register()">Cadastrar</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>