<body>
    

<div class="container-fluid bg p-0">
    <div class="row">
        <div class="col-md-12 bg-nav">
            <div class="d-flex justify-content-between mt-2 mb-2">
                <h3 class="ml-3">Feeling</h3>
                <div class="d-flex align-items-center">
                    <button data-toggle="modal" data-target="#exampleModal" class="btn entrar mr-3">Entrar</button>
                    <button type="submit" class="btn cadastrar mr-3" routerLink="/cadastrar">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content entrarform borda">
                <div class="modal-header">
                    <h5 class="modal-title pink" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail</label>
                            <input [(ngModel)]="userLogin.email" type="email" class="form-control borda" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Digite seu e-mail" name="email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Senha</label>
                            <input [(ngModel)]="userLogin.password" type="password" class="form-control borda" id="exampleInputPassword1" placeholder="Digite sua senha" name="password">
                        </div>
                        <div class="form-group form-check">

                        </div>
                        <button type="submit" class="btn enviar borda" (click)="enter()" data-dismiss="modal">Enviar</button>

                    </form>
                </div>
                <div class="modal-footer">
                    <p>Não tem conta? <a href="/cadastrar" class="cadastrese">Cadastre-se</a></p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <img src="../../assets/img/Feeling.png" class="tam w-100" alt="">
        </div>
    </div>
    <div class="row bg-nav">
        <div class="col-md-12 d-flex justify-content-center">
            <nav class="nav font">
                <a class="nav-link active text-nav mr-5" href="#projeto">Projeto</a>
                <a class="nav-link text-nav mr-5" href="#feeling">Feeling</a>
                <a class="nav-link text-nav mr-5" href="#colaboradores">Colaboradores</a>
                <a class="nav-link text-nav" href="#contato">Contato</a>
            </nav>
        </div>
    </div>
    <div class="row" id="projeto">
        <div class="col-md-6">
            <img class="w-100 h-95 mt-5" src="../../assets/img/pessoa_cansada.png" alt="">
        </div>
        <div class="col-md-6 mt-5">
            <h2 class="text-center fontb">ODS 3</h2>
            <h4 class="text-center font">Esse projeto foi baseado na ODS 3 da ONU feita na Generation focado em ajudar pessoas que lidam com burnout, ansiedade ou outros problemas psicologicos afim de gerar interação, dicas ou desabafos para auxilia-los e aumentar sua saude mental sla só escrevi isso pra testar memo.
            </h4>
        </div>
    </div>

    <div class="row bg pb-5" id="colaboradores">
        <div class="col-md-12 p-0">
            <h2 class="text-center sobre m-0">Colaboradores</h2>
        </div>
    </div>

    <div class="row bg">
        <div class="col-md-12 d-flex justify-content-around">
            <div class="col-md-3">
                <div class="d-flex justify-content-center">
                    <img class="perfil d-flex justify-content-center"
                        src="https://i.pinimg.com/736x/5a/72/e1/5a72e1f05f9e2e1b76a8438a7490dc3b.jpg" alt="">
                </div>
                <h3 class="text-center">Nome generito</h3>
                <h4 class="text-center fontb">coisa generica</h4>
                <p class="text-center font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil odio fugiat soluta
                    aperiam! Cumque voluptas assumenda commodi debitis ullam nostrum molestiae maxime corrupti ea optio
                    veritatis non aliquam nisi, doloremque hic voluptates cum temporibus aut. Quasi odio accusamus a aut
                    deserunt veniam, quisquam est illum vitae, numquam dicta neque. Dolorum!</p>
            </div>
            <div class="col-md-3">
                <div class="d-flex justify-content-center">
                    <img class="perfil d-flex justify-content-center"
                        src="https://i.pinimg.com/736x/5a/72/e1/5a72e1f05f9e2e1b76a8438a7490dc3b.jpg" alt="">
                </div>
                <h3 class="text-center">Nome generito</h3>
                <h4 class="text-center fontb">coisa generica</h4>
                <p class="text-center font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil odio fugiat soluta
                    aperiam! Cumque voluptas assumenda commodi debitis ullam nostrum molestiae maxime corrupti ea optio
                    veritatis non aliquam nisi, doloremque hic voluptates cum temporibus aut. Quasi odio accusamus a aut
                    deserunt veniam, quisquam est illum vitae, numquam dicta neque. Dolorum!</p>
            </div>
            <div class="col-md-3">
                <div class="d-flex justify-content-center">
                    <img class="perfil d-flex justify-content-center"
                        src="https://i.pinimg.com/736x/5a/72/e1/5a72e1f05f9e2e1b76a8438a7490dc3b.jpg" alt="">
                </div>
                <h3 class="text-center">Nome generito</h3>
                <h4 class="text-center fontb">coisa generica</h4>
                <p class="text-center font">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil odio fugiat soluta
                    aperiam! Cumque voluptas assumenda commodi debitis ullam nostrum molestiae maxime corrupti ea optio
                    veritatis non aliquam nisi, doloremque hic voluptates cum temporibus aut. Quasi odio accusamus a aut
                    deserunt veniam, quisquam est illum vitae, numquam dicta neque. Dolorum!</p>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark p-0">
    <div class="container mt-5 pb-5 pt-5" id="contato">
        <div class="row bg-form">
            <div class="col-md-12 p-4">
                <h2 class="text-center fontb">Entre em contato com a gente!</h2>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">E-mail</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-group form-check p-0">
                        <div>
                            <textarea placeholder="Digite aqui o assunto" class="form-control mt-4" name="assunto"
                                id="assunto" cols="30" rows="7"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn enviarc mb-3">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>