#img-bg {
    background-image: url('https://media4.giphy.com/media/fTz2gJRh37GpDaiiyD/giphy.gif?cid=790b76116a6e70214784e4d017048414108a4d721bc1e5ca&rid=giphy.gif&ct=g');
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.borda {
    border: none;
}

.tam {
    height: 90vh;
}

.bg {
    background-color: var(--color-primary);
}

.bg-nav {
background-color: var(--color-purple);
}

.text-nav {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.perfil {
    border-radius: 50%;
    width: 12vw;
}

.sobre {
    font-size: 80px;
    color: #fff;
}

.bg-form {
    background-color: var(--color-green);
    border-radius: 16px;
}